[Unit]
Description=FastCCI - Fast Commons Category Intersection Server
After=network.target

[Service]
ExecStart=/usr/bin/fastcci_server 8080 /data/project/data
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
Alias=fastcci.service
